@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@media screen and (max-width: 1840px) {
  .subscription-wrapper {
    -webkit-box-flex: 1 !important;
        -ms-flex: 1 !important;
            flex: 1 !important;
  }

  .subscription-wrapper .subscription {
    display: none;
  }
}

@media screen and (max-width: 1620px) {
  .share .icon-wrapper,
  .share .desc {
    display: none !important;
  }
}

@media screen and (max-width: 1599px) {
  #center .img-wrapper img:last-of-type {
    display: none;
  }
}

html,
body {
  margin: 0;
}

body {
  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited,
a:hover,
a:focus,
a:active,
a:link {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c3c3c;
}

header .logo {
  margin-left: 88px;
}

header .search-wrapper {
  position: relative;
  margin-left: 30px;
}

header .search-wrapper form {
  position: relative;
}

header .search-wrapper form .video-search {
  padding-left: 18px;
  width: 560px;
  height: 55px;
  font-size: 16px;
  color: #b9b9b9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e1e1e1;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 3px black, 0 0 3px black;
          box-shadow: inset 0 0 3px black, 0 0 3px black;
  background: transparent;
}

header .search-wrapper form .video-search::-webkit-input-placeholder {
  font-size: 16px;
  color: #b9b9b9;
  text-shadow: 0 0 2px black;
}

header .search-wrapper form .video-search:-ms-input-placeholder {
  font-size: 16px;
  color: #b9b9b9;
  text-shadow: 0 0 2px black;
}

header .search-wrapper form .video-search::placeholder {
  font-size: 16px;
  color: #b9b9b9;
  text-shadow: 0 0 2px black;
}

header .search-wrapper form .search-submit {
  position: absolute;
  right: 6px;
  top: 14px;
}

header .search-wrapper .desc {
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 12px;
  color: #8F8F8F;
  text-shadow: 0 0 1px black;
}

header .video-submit,
header .login-btn {
  position: absolute;
  right: 28px;
  top: 40px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #00b490;
}

header .video-submit a,
header .login-btn a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

header .video-submit button,
header .login-btn button {
  padding: 10px 36px;
  font-size: 16px;
  color: #fff;
  border: 0;
  background: transparent;
}

header .video-submit.video-submit,
header .login-btn.video-submit {
  right: 160px;
}

main#index {
  background: #e9e9e9;
}

main#index .navbar {
  width: 100%;
  height: 64px;
  background: #252326;
}

main#index .navbar .nav-item {
  display: inline-block;
  padding: 0 22px;
  line-height: 64px;
  color: #fff;
}

main#index .navbar .nav-item .angle {
  margin-left: 8px;
}

main#index .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main#index .container-fluid .share {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 80px;
}

main#index .container-fluid .share .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 190px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main#index .container-fluid .share .icon-wrapper .icon-item {
  display: inline-block;
  margin-top: 12px;
}

main#index .container-fluid .share .icon-wrapper .icon-item:nth-of-type(-n + 3) {
  margin-top: 0;
}

main#index .container-fluid .share .desc {
  margin: 10px auto;
  width: 160px;
  line-height: 24px;
  font-size: 16px;
  color: #666;
  text-shadow: 0 0 1px #666;
}

main#index .container-fluid .videos {
  margin-bottom: 12px;
  padding: 0 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1090px;
          flex: 0 0 1090px;
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(102, 102, 102, 0.7);
          box-shadow: 0 0 3px rgba(102, 102, 102, 0.7);
}

main#index .container-fluid .videos .hot {
  margin-top: 55px;
}

main#index .container-fluid .videos .hot .content .video-item {
  position: relative;
}

main#index .container-fluid .videos .hot .content .video-item .title {
  position: absolute;
  width: calc(100% - 44px);
  bottom: 0;
  padding: 0 22px;
  line-height: 40px;
  font-size: 14px;
  color: #f3f3f3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
}

main#index .container-fluid .videos .hot .header {
  position: relative;
  padding-bottom: 19px;
  border-bottom: 2px solid #d2d2d2;
}

main#index .container-fluid .videos .hot .header .title {
  font-size: 28px;
  color: #999;
}

main#index .container-fluid .videos .hot .header .pagination {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
}

main#index .container-fluid .videos .hot .header .pagination .prev,
main#index .container-fluid .videos .hot .header .pagination .next {
  display: inline-block;
  width: 53px;
  height: 39px;
  line-height: 48px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cecece;
  border-radius: 2px;
}

main#index .container-fluid .videos .hot .header .pagination .next {
  margin-left: 14px;
}

main#index .container-fluid .videos .hot .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0;
  border-bottom: 2px solid #d2d2d2;
}

main#index .container-fluid .videos .hot .content .hero {
  display: inline-block;
}

main#index .container-fluid .videos .hot .content .other {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main#index .container-fluid .videos .hot .content .other .videos-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main#index .container-fluid .videos .hot .content .video-item {
  margin: 68px 0 0 11px;
  width: 261px;
  height: 172px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: #363636;
}

main#index .container-fluid .videos .hot .content .video-item img {
  width: 100%;
  height: 100%;
}

main#index .container-fluid .videos .hot .content .video-item {
  margin: 8px 0 0 15px;
}

main#index .container-fluid .videos .hot .content .video-item.main {
  margin: 0;
  width: 537px;
  height: 353px;
}

main#index .container-fluid .videos .hot .content .video-item:nth-of-type(-n + 2) {
  margin-top: 0;
}

main#index .container-fluid .videos > div:not(.hot) .header {
  position: relative;
  height: 62px;
  border-bottom: 2px solid #d2d2d2;
}

main#index .container-fluid .videos > div:not(.hot) .header .title {
  line-height: 62px;
  font-size: 28px;
  color: #999;
}

main#index .container-fluid .videos > div:not(.hot) .header .pagination {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 0;
}

main#index .container-fluid .videos > div:not(.hot) .header .pagination .prev,
main#index .container-fluid .videos > div:not(.hot) .header .pagination .next {
  display: inline-block;
  width: 53px;
  height: 39px;
  line-height: 48px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cecece;
  border-radius: 2px;
}

main#index .container-fluid .videos > div:not(.hot) .header .pagination .next {
  margin-left: 14px;
}

main#index .container-fluid .videos > div:not(.hot) .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0 120px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #d2d2d2;
}

main#index .container-fluid .videos > div:not(.hot) .content .video-item {
  margin: 68px 0 0 11px;
  width: 261px;
  height: 172px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: #363636;
}

main#index .container-fluid .videos > div:not(.hot) .content .video-item img {
  width: 100%;
  height: 100%;
}

main#index .container-fluid .videos > div:not(.hot) .content .video-item:nth-of-type(-n + 4) {
  margin-top: 0;
}

main#index .container-fluid .videos > div:not(.hot) .content .video-item {
  position: relative;
}

main#index .container-fluid .videos > div:not(.hot) .content .video-item .title {
  position: absolute;
  width: calc(100% - 44px);
  bottom: 0;
  padding: 0 22px;
  line-height: 40px;
  font-size: 14px;
  color: #f3f3f3;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.3);
}

main#index .container-fluid .videos .showreels .content {
  border-bottom: 0;
}

main#index .container-fluid .subscription-wrapper {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

main#index .container-fluid .subscription-wrapper .subscription {
  margin: 40px auto;
  width: 402px;
  height: 333px;
  color: #999;
  background: #fff;
}

main#index .container-fluid .subscription-wrapper .subscription .title {
  padding-top: 26px;
  text-align: center;
}

main#index .container-fluid .subscription-wrapper .subscription .title > h2 {
  font-size: 26px;
  font-weight: normal;
}

main#index .container-fluid .subscription-wrapper .subscription .desc {
  margin: 24px 0 0 58px;
  line-height: 24px;
  font-size: 14px;
}

main#index .container-fluid .subscription-wrapper .subscription .subscribe-btn {
  display: block;
  margin: 24px auto 0 auto;
  width: 297px;
  height: 59px;
  font-size: 22px;
  color: #fff;
  border: 0;
  -webkit-box-shadow: -1px 1px 3px rgba(7, 17, 27, 0.3);
          box-shadow: -1px 1px 3px rgba(7, 17, 27, 0.3);
  background: #00bff3;
}

main#index .container-fluid .subscription-wrapper .subscription .text-box {
  position: relative;
}

main#index .container-fluid .subscription-wrapper .subscription .text-box .subscribe-input {
  display: block;
  margin: 7px auto 0 auto;
  padding-left: 14px;
  width: 283px;
  height: 35px;
  font-size: 16px;
  border: 1px solid #ccc;
  -webkit-box-shadow: -1px 1px 4px rgba(7, 17, 27, 0.2);
          box-shadow: -1px 1px 4px rgba(7, 17, 27, 0.2);
}

main#index .container-fluid .subscription-wrapper .subscription .text-box .subscribe-input::-webkit-input-placeholder {
  font-size: 16px;
  color: #d3d3d3;
}

main#index .container-fluid .subscription-wrapper .subscription .text-box .subscribe-input:-ms-input-placeholder {
  font-size: 16px;
  color: #d3d3d3;
}

main#index .container-fluid .subscription-wrapper .subscription .text-box .subscribe-input::placeholder {
  font-size: 16px;
  color: #d3d3d3;
}

main#index .container-fluid .subscription-wrapper .subscription .text-box .icon-envelope {
  position: absolute;
  right: 63px;
  top: 12px;
}

main#center {
  margin-bottom: 30px;
}

main#center .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 482px;
  background: #0c92b1;
}

main#center .banner .title-wrapper {
  min-width: 400px;
  margin-left: 222px;
}

main#center .banner .title-wrapper .title {
  line-height: 75px;
  font-size: 50px;
  font-family: SimHei, serif;
  color: #fff;
}

main#center .banner .title-wrapper .check {
  margin-top: 16px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #00b490;
}

main#center .banner .title-wrapper .check a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

main#center .banner .title-wrapper .check button {
  padding: 10px 36px;
  font-size: 16px;
  color: #fff;
  border: 0;
  background: transparent;
}

main#center .banner .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 116px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main#center .banner .img-wrapper img {
  width: 406px;
  height: 406px;
  border-radius: 50%;
}

main#center .banner .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main#center .banner .pagination .page {
  margin-right: 14px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #998675;
}

main#center .banner .pagination .page.active {
  background: #d4d4d3;
}

main#center .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
}

main#center .profile .avatar {
  width: 34px;
  height: 34px;
}

main#center .profile .committee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 58px 0 38px;
  width: 110px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #00b490;
}

main#center .profile .committee a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

main#center .profile .committee button {
  padding: 10px 36px;
  font-size: 16px;
  color: #fff;
  border: 0;
  background: transparent;
}

main#center .profile .committee .text {
  margin-left: -16px;
}

main#center .profile .shopcart,
main#center .profile .info,
main#center .profile .avatar {
  margin-left: 20px;
}

main#center .video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 17px;
  width: 1125px;
  border-top: 2px solid #7fccfe;
}

main#center .video-list .video-card {
  margin: 33px 17px 0 0;
  width: 358px;
  height: 508px;
  font-size: 0;
  border-radius: 4px;
  -webkit-box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
}

main#center .video-list .video-card .video-img {
  width: 100%;
  height: 233px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

main#center .video-list .video-card .content {
  position: relative;
  padding: 0 26px;
  height: calc(100% - 233px);
}

main#center .video-list .video-card .content .title {
  padding-top: 28px;
  min-height: 66px;
  font-size: 18px;
  color: #0099ff;
  text-align: center;
}

main#center .video-list .video-card .content .avatar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#center .video-list .video-card .content .avatar-wrapper .info {
  margin-left: 12px;
  font-size: 14px;
  color: #707070;
}

main#center .video-list .video-card .content .level-length {
  margin-top: 21px;
}

main#center .video-list .video-card .content .level-length .level {
  display: inline-block;
  font-size: 12px;
}

main#center .video-list .video-card .content .level-length .level .circle {
  display: inline-block;
  margin-right: 8px;
  vertical-align: -5%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

main#center .video-list .video-card .content .level-length .level.primary {
  color: #33b6a0;
}

main#center .video-list .video-card .content .level-length .level.primary .circle {
  background: #33b6a0;
}

main#center .video-list .video-card .content .level-length .level.intermediate {
  color: #f58f35;
}

main#center .video-list .video-card .content .level-length .level.intermediate .circle {
  background: #f58f35;
}

main#center .video-list .video-card .content .level-length .level.advanced {
  color: #fd6666;
}

main#center .video-list .video-card .content .level-length .level.advanced .circle {
  background: #fd6666;
}

main#center .video-list .video-card .content .level-length .length {
  display: inline-block;
  margin-left: 26px;
  font-size: 12px;
  color: #707070;
}

main#center .video-list .video-card .content .level-length .length img {
  margin-right: 4px;
}

main#center .video-list .video-card .content .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 26px;
  right: 32px;
  width: 88px;
  height: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 34px;
  font-size: 19px;
  font-family: SimHei, serif;
  color: #fff;
  text-align: left;
  border: 0;
  border-radius: 3px;
  background: #0099ff;
}

main#center .video-list .video-card .content .buy img {
  vertical-align: sub;
}

.signin-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
}

.signin-container .signin_wrapper {
  padding: 0 100px;
  width: 501px;
  height: 427px;
  -webkit-box-shadow: 5px 5px 5px rgba(7, 17, 27, 0.05);
          box-shadow: 5px 5px 5px rgba(7, 17, 27, 0.05);
  border-radius: 17px;
  background: rgba(56, 96, 122, 0.44);
}

.signin-container .signin_wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signin-container .signin_wrapper .form-wrapper {
  margin-top: 44px;
  color: #fff;
}

.signin-container .signin_wrapper .form-wrapper .signin-control {
  position: relative;
  font-size: 16px;
}

.signin-container .signin_wrapper .form-wrapper .signin-control:nth-of-type(n + 2) {
  margin-top: 20px;
}

.signin-container .signin_wrapper .form-wrapper .signin-control .desc {
  display: inline-block;
  position: absolute;
  line-height: 54px;
}

.signin-container .signin_wrapper .form-wrapper .signin-control .desc.name {
  letter-spacing: 2px;
}

.signin-container .signin_wrapper .form-wrapper .signin-control .desc.psw {
  letter-spacing: 19px;
}

.signin-container .signin_wrapper .form-wrapper .signin-control .signin-input {
  padding: 0 0 0 60px;
  width: calc(100% - 60px);
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.signin-container .signin_wrapper .form-wrapper .signin_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper {
  padding-top: 14px;
  letter-spacing: 1px;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper:first-of-type {
  margin-right: 24px;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper:first-of-type a {
  padding-right: 7px;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper:last-of-type {
  margin-right: 4px;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper a {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper a:hover,
.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper a:visited,
.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper a:active,
.signin-container .signin_wrapper .form-wrapper .signin_links .link-wrapper a:focus {
  color: #fff;
}

.register-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
}

.register-container .register_wrapper {
  padding: 0 100px 50px 100px;
  width: 501px;
  -webkit-box-shadow: 5px 5px 5px rgba(7, 17, 27, 0.05);
          box-shadow: 5px 5px 5px rgba(7, 17, 27, 0.05);
  border-radius: 17px;
  background: rgba(56, 96, 122, 0.44);
}

.register-container .register_wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register-container .register_wrapper .form-wrapper {
  margin-top: 44px;
  color: #fff;
}

.register-container .register_wrapper .form-wrapper .register-control {
  position: relative;
  font-size: 16px;
}

.register-container .register_wrapper .form-wrapper .register-control:nth-of-type(n + 2) {
  margin-top: 20px;
}

.register-container .register_wrapper .form-wrapper .register-control .desc {
  display: inline-block;
  position: absolute;
  line-height: 54px;
}

.register-container .register_wrapper .form-wrapper .register-control .register-input {
  padding: 0 0 0 80px;
  width: calc(100% - 80px);
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
}

.register-container .register_wrapper .form-wrapper .register_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 12px;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper {
  padding-top: 14px;
  letter-spacing: 1px;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper:first-of-type {
  margin-right: 24px;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper:first-of-type a {
  padding-right: 7px;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper:last-of-type {
  margin-right: 4px;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper a {
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

.register-container .register_wrapper .form-wrapper .register_links .link-wrapper a:hover,
.register-container .register_wrapper .form-wrapper .register_links .link-wrapper a:visited,
.register-container .register_wrapper .form-wrapper .register_links .link-wrapper a:active,
.register-container .register_wrapper .form-wrapper .register_links .link-wrapper a:focus {
  color: #fff;
}

.video-submit-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/bg.jpg");
  background-size: cover;
}

.video-submit-container .video-submit-wrapper {
  padding: 0 100px 50px 100px;
  width: 501px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451);
  border-radius: 2px;
  background: rgba(56, 96, 122, 0.44);
}

.video-submit-container .video-submit-wrapper .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-submit-container .video-submit-wrapper .form-wrapper {
  margin-top: 44px;
  color: #fff;
}

.video-submit-container .video-submit-wrapper .form-wrapper .form-group label {
  display: block;
  margin-bottom: 6px;
}

.video-submit-container .video-submit-wrapper .form-wrapper .edui-editor {
  width: 522px !important;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-wrapper .signin_button,
.button-wrapper .register_button,
.button-wrapper .video-submit-btn {
  margin-top: 35px;
  padding: 0;
  width: 348px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: white;
  text-align: center;
  letter-spacing: 7px;
  border: 0;
  border-radius: 22px;
  background-color: #02D7C1;
}

.video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

#vip-detail {
  width: 60%;
  margin-left: 20%;
}

#vip-detail .head {
  position: relative;
  top: 200px;
  font-size: 44px;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px black;
}

#vip-detail .page {
  position: relative;
  background-color: white;
  width: 100%;
  height: 420px;
  margin-top: -30px;
  top: 250px;
  padding: 20px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 30px #8F8F8F;
          box-shadow: 0 0 30px #8F8F8F;
}

#vip-detail .video {
  background-color: #8F8F8F;
  width: 60%;
  height: 420px;
  float: left;
}

#vip-detail .right-message {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  height: 100%;
  width: 30%;
}

#vip-detail .notice {
  font-size: 20px;
  color: black;
}

#vip-detail .use {
  font-size: 20px;
  color: black;
}

#vip-detail .circle {
  background-color: #33b6a0;
  width: 15px;
  height: 15px;
  margin-top: 4px;
  border-radius: 50%;
  float: left;
}

#vip-detail .grade {
  color: #33b6a0;
  font-size: 15px;
  margin-left: 5px;
}

#vip-detail .ae {
  width: 50px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}

#vip-detail .time {
  color: black;
}

#vip-detail .cd {
  width: 19px;
  height: auto;
}

#vip-detail .data {
  color: #979897;
  font-size: 13px;
}

#vip-detail .page-end {
  margin-top: 100px;
}

#vip-detail .price {
  position: absolute;
  margin-top: 280px;
  right: 18%;
  font-size: 26px;
  color: #737373;
}

#vip-detail .buy {
  position: absolute;
  margin-top: 320px;
  right: 17%;
  background-color: #34d69f;
  text-align: center;
  font-size: 15px;
  width: 130px;
  height: 40px;
  border-radius: 3px;
  border: 0;
  color: white;
  float: right;
}

#vip-detail .move {
  position: absolute;
  margin-top: 320px;
  right: 28%;
  color: #67b6ff;
  background-color: white;
  text-align: center;
  font-size: 15px;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #67b6ff;
}

#vip-detail .move img {
  width: 28px;
  height: auto;
  margin-left: 5px;
  vertical-align: -6px;
}

#vip-detail .about {
  position: relative;
  top: 350px;
  font-size: 26px;
  color: #6a6a6a;
}

#vip-detail .description {
  position: relative;
  top: 360px;
  padding-bottom: 100px;
  width: 60%;
  font-size: 20px;
  line-height: 30px;
  color: #888;
}

#vip-detail .description img {
  margin-top: 20px;
  width: 100%;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #c8c8c8;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}

textarea.form-control {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 34px;
  }
}

input[type="month"] {
  line-height: 30px;
}

input[type="month"] {
  line-height: 46px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}

.form-control-static.input-lg,
.input-group-lg > .form-control-static.form-control,
.input-group-lg > .form-control-static.input-group-addon,
.input-group-lg > .input-group-btn > .form-control-static.btn,
.form-control-static.input-sm,
.input-group-sm > .form-control-static.form-control,
.input-group-sm > .form-control-static.input-group-addon,
.input-group-sm > .input-group-btn > .form-control-static.btn {
  padding-left: 0;
  padding-right: 0;
}

.input-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm,
.input-group-sm > select.form-control,
.input-group-sm > select.input-group-addon,
.input-group-sm > .input-group-btn > select.btn {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
.input-group-sm > textarea.form-control,
.input-group-sm > textarea.input-group-addon,
.input-group-sm > .input-group-btn > textarea.btn,
select[multiple].input-sm,
.input-group-sm > select[multiple].form-control,
.input-group-sm > select[multiple].input-group-addon,
.input-group-sm > .input-group-btn > select[multiple].btn {
  height: auto;
}

.form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}

.form-group-sm textarea.form-control,
.form-group-sm select[multiple].form-control {
  height: auto;
}

.form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

select.input-lg,
.input-group-lg > select.form-control,
.input-group-lg > select.input-group-addon,
.input-group-lg > .input-group-btn > select.btn {
  height: 46px;
  line-height: 46px;
}

textarea.input-lg,
.input-group-lg > textarea.form-control,
.input-group-lg > textarea.input-group-addon,
.input-group-lg > .input-group-btn > textarea.btn,
select[multiple].input-lg,
.input-group-lg > select[multiple].form-control,
.input-group-lg > select[multiple].input-group-addon,
.input-group-lg > .input-group-btn > select[multiple].btn {
  height: auto;
}

.form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}

.form-group-lg textarea.form-control,
.form-group-lg select[multiple].form-control {
  height: auto;
}

.form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.has-feedback {
  position: relative;
}

.has-feedback .form-control {
  padding-right: 42.5px;
}

.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback,
.input-group-lg > .form-control + .form-control-feedback,
.input-group-lg > .input-group-addon + .form-control-feedback,
.input-group-lg > .input-group-btn > .btn + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.input-sm + .form-control-feedback,
.input-group-sm > .form-control + .form-control-feedback,
.input-group-sm > .input-group-addon + .form-control-feedback,
.input-group-sm > .input-group-btn > .btn + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}

.has-warning .form-control-feedback {
  color: #8a6d3b;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

.has-error .form-control-feedback {
  color: #a94442;
}

.has-feedback label ~ .form-control-feedback {
  top: 25px;
}

.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .form-control-static {
    display: inline-block;
  }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }

  .form-inline .input-group > .form-control {
    width: 100%;
  }

  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }

  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }

  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control:focus {
  z-index: 3;
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

