@media screen and (max-width: 1840px)
  .share
    display: none !important
  .videos
    margin-left: 50px
    //.icon-wrapper, .desc


@media screen and (max-width: 1699px)
  .container-fluid
    justify-content: center
  .subscription-wrapper
    display: none
  .videos
    margin-left: 0
    //flex: 1 !important
    //.subscription


@media screen and (max-width: 1599px)
  #center
    .img-wrapper
      img:last-of-type
        display: none