$header-color: #3c3c3c
$search-input-color: #b9b9b9
$search-box-color: #e1e1e1
$main-container-color: #e9e9e9
$navbar-color: #252326
$content-title-color: #999
$pagination-btn-border-color: #cecece
$border-bottom-color: #d2d2d2
$video-item-color: #363636